rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function approveLevel(level) {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level <= level;
    }
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create, delete: if false; // functions
    }
    match /store/{storeId} {
      allow read: if true;
      allow create: if approveLevel(0);
      allow update, delete: if approveLevel(0) || resource.data.uid == request.auth.uid;
    }
    match /requests/{requestId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if approveLevel(0) || (request.auth != null && resource.data.uid == request.auth.uid);
    }
  }
}